# fly.toml app configuration file generated for msu-tj-backend on 2025-12-10T12:21:18+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'msu-tj-backend'
primary_region = 'fra'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '4gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
